################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Motion/FileContentIndex/54ef39a0-e93e-4726-ba1e-c189e5529876.vsidx
/.vs/Motion/v17/.wsuo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Motion/FileContentIndex/f255f7a7-0725-492b-ab71-6ad857f11782.vsidx
/.vs/Motion/FileContentIndex
